.selectAllContainer{
    display: flex;
    gap: 15px;
    padding: 6px;
    border-radius: 5px;
    align-items: center;
}

.selectAllContainer:hover{
    background-color: rgb(231, 231, 231);
    cursor: pointer;
}

.iconAll{
    color: #666;
    font-size: 20px;
}

.txtAll{
    font-size: 13px;
    color: #303030;
}

.containerDeleteTask{
    .trashIcon{
        color: #dc4c3e
;
    }
    .deleteTxt{
        color: #dc4c3e
;
    }
}
