@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

.mainContainerTask{
    max-width: 800px;
    width: 90%;
    margin: auto;
    margin-top: 50px;
}

.taskTitleText{
    font-size: 26px;
    color: #202020;
    line-height: 35px;
    letter-spacing: 0.035em;
    padding-bottom: 30px;
}



