.popUpContainer {
    background-color: #282828;
    color: white;
    width: fit-content;
    padding: 15px 20px;
    border-radius: 10px;
    position: fixed;
    bottom: -100px;
    left: 40px;
    opacity: 0;
    visibility: hidden;
    overflow: hidden;
    transition: all 0.3s ease;
    display: flex;
    align-items: center;
    gap: 50px;
}

.show {
    bottom: 40px;
    opacity: 1;
    visibility: visible;
}


.popUpContainer p {
    font-size: 13px;
}

.iconClose{
    font-weight: 100;
    font-size: 16px;
    color: rgb(200, 200, 200);
    transition: 0.3s all ease;
}

.iconClose:hover{
    cursor: pointer;
    color: rgb(255, 255, 255);
}

